/* الجسم والخلفية والمسافات */
body {
    background-color: rgb(215,155,109,0.85);
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
}
.container{
    background-color: rgba(216, 151, 102, 0.85);
    width: 88%;
    margin: 40px;
    padding: 20px;
    border-radius: 10px;
    border: #944416 2px solid;
}
/* تنسيق العنوان الرئيسي */
h1 {
    color:rgb(160, 64, 26);
    font-size: 36px;
    font-family: Arial;
    text-align: center;
    letter-spacing: 2px;
}

/* تنسيق اسم المدينة */
h2 {
    color: rgb(75, 29, 11);
    font-size: 28px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}


/* الفقرة التعريفية */
p {
    color: black;
    font-size: 18px;
    font-family: Arial;
    font-style: italic;
}

/* الصور */
.images{
    height: 360px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.images img{
    width:50%;
    height: auto;
}

.card{
    text-align: center;
    width: 30%;
    border-radius: 15px;
    border: 3px solid #944416;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.card img{
    width: 100%;
    border-radius: 12PX;
    height: 280px;
    object-fit: cover;
}

.card p{
   margin: 15px;
    margin-top: 8px;
    font-size: 18px;
    color: #944416;
    font-weight: bold;
}
/* الشعار */
.slogan {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(75, 29, 11);
}

/* اسم الطالبة أسفل الصفحة */
.student-name-bottom {
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    color: rgb(151, 64, 48);
}

.sentence {
    color: #642c19b7;
    font-size: 20px;
}

.special {
    color: #080200b7;
}

.founding{
background-color: rgba(216, 151, 102, 0.85);
margin: 30px;
padding: 20px;
text-align: center;
border-radius: 15px;
border: 2px solid #944416;
color: #5c3a21;
}

.founding-image{
    height: 360px;
    margin-bottom: 15px;
    display: block;
    justify-content: center;
    gap: 10px;
    margin: auto;
    width: 88%;
    height: 40%;
    border-radius: 15px;
}

/* حجم الشاشة */
@media (max-width:768px){

    .container{
        width:95%;
    }
    img{
        width:100%;
        height:auto;
    }
}

@media (max-width:768px){

    .images{
        flex-direction: column;
    }
    .images img{
        width:100%;
    }
}

.menu {
    background-color: rgba(216, 151, 102, 0.85);
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 30px;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(75, 29, 11);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: #944416;
}

.menu{
    display: flex;
    gap: 20px;
}

@media (max-width: 768px){

    .menu{
        display: block;
    }
}

body{
    margin: 0;
    background: rgb(215,155,109,0.85);
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-section{
    background: rgba(216, 151, 102, 0.85);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #944416;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.welcome-section h1{
    color: #5c3a21;
    font-size: 36px;
    margin-bottom: 20px;
}

button{
    background-color: #97522a;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background-color: #663613;
}

#welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:rgb(215,155,109,0.85);
    width: 50%;
    height: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#mainSite{
    display: none;
}

html{
    scroll-behavior: smooth;
}

/*الرسائل الأخبارية*/

.intro{
    font-size: 20px;
    color: rgb(75, 29, 11);
    text-align:right;
    margin-bottom: 30px;
}
.news-table{
width:100%;
max-width: 100%;
margin: auto;
}

.news-table th{
background:rgba(216, 151, 102, 0.85);
color:#412a19;
padding:12px;
font-size:16px;
border-top-right-radius: 10px;
text-align: right;
}

.news-table td{
padding:12px;
vertical-align: top !important;
}

.news-image{
width:60%;
display: block;
margin: 10px auto;
object-fit: cover;
border-radius:8px;
border: #944416 2px solid;
margin-left: auto;
margin-right: 0;
}

.news-title{
    font-size: 25px;
    color: rgb(215,155,109,0.85);
    font-weight: bold;
    margin-bottom: 15px;
    text-align: right;
}

.news-text{
    font-size: 18px;
    line-height: 1.7;
    color: rgb(75, 29, 11);
    margin-bottom: 20px;
    font-weight: bold;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (max-width: 768px){
    .news-title{
        font-size: 20px;
    }

    .news-text{
        font-size: 18px;
    }

}

#moreNews{
margin-top:20px;
}

#moreBtn{
padding:8px 18px;       /* تصغير حجم الزر */
font-size:14px;         /* تصغير الخط */
background:#97522a;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

/* تحريكه لليسار */
display:block;
margin:20px 0 20px auto;
}

#moreBtn:hover{
background: #663613;
}